/*先寫 PC 版型，再依序往下寫響應式設計*/
.top{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    position: sticky;
    top: 0px;
    background-color: #fff;

    /* del */
    /* background-color: red; */
}
.topContent{
    display: flex;
    justify-content: space-between;
    width: 1200PX;
    align-items: center;

    /* del */
    /* background-color: #c05fff; */
}
.topTitle{
    font-family: 'Noto Sans TC Bold';
    font-size: 30px;
    color: #448899;
}

.topTitle a{
    text-decoration: none;
    color: #448899;
    white-space: nowrap;
}

.menu{
    display: flex;

    /* del */
    /* background-color: #aff; */
}

.menu li{
    margin-left: 20px;
}

.menu a{
    text-decoration: none;
    color: #666;
    white-space: nowrap;
}

.header{
    /* 漸層 */
    /* background: linear-gradient(#AADDEE,#66AABB); */  
    /* 橢圓形放射漸層 */
    background: radial-gradient(ellipse at center,#AADDEE,#66AABB);  
    color: #fff;
    display: flex;
    justify-content: center;

    /* del */
    /* padding-left: 300px; */
    /* position: relative; */
}

.headerBg{
    background-image: url('../src/welcomePC.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    overflow: hidden;
    width: 1350px;
    display: flex;
    justify-content: center;

    /* del */
    /* height: 100%; */
    /* background-color: #556; */
}

.headerTitle{
    width: 1200px;
    padding: 85px 0px;

    /* del */
    /* background-color:#aa5;
    opacity: 0.5; */
    /* max-width: 1200px; */
    /* margin-left: 100px; */
    /* background-image: url('../src/welcomePC.png');
    background-repeat: no-repeat;
    background-position: 100%; */
    /* background-position: right bottom;
    background-size:contain; */
}

.header h1{
    font-size: 28px;
    font-family: 'Noto Sans TC Bold';
    margin-bottom: 15px;

    /* del */
    /* font-weight: bold; */
    /* background-color: red; */
}

.header p{
    margin-bottom: 25px;

    /* del */
    /* background-color: rgb(63, 90, 109); */
}

.headerSearch{
    display: flex;

    /* del */
    /* background-color: #55dddd; */
    /* height: 46px; */
    /* display: block; */
}

.headerSearch input{
    font-size: 16px;
    width: 33%;
    padding: 0px 15px;
    border-style: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    /* del */
    /* background-color: #fd5; */
}

.headerSearch button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

::placeholder{
    color: #757575;
    font-family: 'Noto Sans TC Bold';
}

.headerSearch button{
    background-color: #448899;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    /* del */
    /* border: none; */
    /* width: 60px;
    height: 46px; */
}

.headerSearch img{
    width: 30px;
    height: 30px;
    padding: 8px 15px;

    /* del */
    /* background-color: #55d; */
}

.middle{
    
    display: flex;
    justify-content: center;

    /* del */
    /* width: 1200px; */
    /* background-color: #b5f; */
}

.photo{
    width: 1200px;
}

.middle ul{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 55px;
    padding-bottom: 25px;

    /* del */
    /* background-color: #f5a; */
}

.gotoDetail{
    text-decoration: none;
    width: 23%;
    margin-bottom: 30px;
    border: #E8E8E8 1px solid;
    border-radius: 5px;
    flex-direction: column;
    background-color: #fff;
    color: #666;
    cursor : pointer;
}
/* 將li移至a */
/* .middle li{
    width: 23%;
    margin-bottom: 30px;
    border: #E8E8E8 1px solid;
    border-radius: 5px;
    flex-direction: column;
    background-color: #fff;
} */

/* li改成a */
/* 如果最後一行是 3 個元素 */
.middle a:last-child:nth-child(4n - 1) {
    margin-right: calc(23% + 8% / 3);
}
/* 如果最後一行是 2 個元素 */
.middle a:last-child:nth-child(4n - 2) {
    margin-right: calc(46% + 16% / 3);
}


/* .middle img{
    max-width: 100%;
    max-height: auto;
    object-fit:scale-down;
} */

.adjustPic {
    width:100%; 
    max-height: auto;
    padding-bottom: 67%;
    overflow:hidden;
    background-position:center center;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    background-image: url("https://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11000848.jpg");
}

.attractionName{
    padding: 12px 0px 15px 10px; /* 上右下左 */
    background-color: #fff;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.category{
    padding: 0px 10px 12px 10px; /* 上右下左 */
    display: flex;
    justify-content: space-between;
}

.category p{
    font-weight: 400;
}

.footer {
    background-color: #757575;
    display: flex;
    justify-content: center;
}

.footerContent {
    text-align: center;
    width: 1200px;
    padding: 45px 0px;
    color: #fff;

    /* del */
    /* background-color: #acb; */
}


/*在 iPad 直式下變更樣式 --> 斷點*/
/*在768px 裡面的樣式會被開啟*/
@media(max-width:900px){
    
    .topContent{
        width: 90%;
    }

    .headerTitle{
        width: 90%;
    }

    .headerBg{
        background-size: 70%,70%;
    }

    .photo{ 
        width: 90%;
    }

    .gotoDetail{
        width: 45%;
    }
    /* 將li移至a */
    /* .middle li {
        width: 45%;
    } */
    
    /* li改成a */
    /* 如果最後一行是 2 個元素 */
    .middle a:last-child:nth-child(4n - 2) {
        margin-right: 0;
    }

    .footerContent {
        text-align: center;
        width: 90%;
        margin: 40px 0px;
        padding: 10px 0px;
    }

}

/*在 iPhone 直式下變更樣式 --> 斷點*/
@media(max-width:600px){        
    .headerTitle{
        padding: 65px 0px;
    }

    .headerSearch input{
        width: 200px;
    }

    .attractionName{
        /*padding: 上右下左 */
        padding: 8px 0px 8px 10px;
    }
    
    .category{
        /*padding: 上右下左 */
        padding: 8px 10px 8px 10px; 
        display: flex;
        justify-content: space-between;
    }
    
    .gotoDetail{
        padding-bottom: 5px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    /* 將li移至a */
    /* .photo li {
        padding-bottom: 5px;
        display: flex;
        flex-direction: column;
        width: 100%;
    } */

    /* li改成a */
    /* 如果最後一行是 3 個元素 */
    .middle a:last-child:nth-child(4n - 1) {
        margin-right: 0px;
    }

}