<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" href="../static/css/cssReset.css">
    <link rel="stylesheet" href="../static/component/nav.css">
    <link rel="stylesheet" href="../static/css/attraction.css">
</head>

<body>
    <div class="top">
        <!-- <div class="topContent">
            <div class="topTitle">
                <p><a href="/">台北一日遊</a></p>
            </div>
            <div class="topMenu">
                <ul class="menu">
                    <li><a href="#">預定行程</a></li>
                    <li><a href="#">登入/註冊</a></li>
                </ul>
            </div>
        </div> -->
    </div>

    <div class="header">
        <div class="headerBG">
            <div class="headerImg" id="allImgs">
                <div class="allImg">
                    <!-- <div class="headerSlid">
                        <img
                            src="https://www.travel.taipei/d_upload_ttn/sceneadmin/image/a0/b0/c1/d878/e726/f304/2d6e8b50-76ce-4b7e-a795-0357cd6f2b3e.jpg">
                    </div>
                    <div class="headerSlid">
                        <img
                            src="https://www.travel.taipei/d_upload_ttn/sceneadmin/image/a0/b0/c0/d260/e538/f274/e7d482ba-e3c0-40c3-87ef-3f2a1c93edfa.jpg">
                    </div>
                    <div class="headerSlid">
                        <img
                            src="https://www.travel.taipei/d_upload_ttn/sceneadmin/image/a0/b0/c0/d14/e810/f21/48d66fbd-1ba3-4efd-837a-3767db5f52e0.jpg">
                    </div>
                    <div class="headerSlid">
                        <img
                            src="https://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11000979.jpg">
                    </div>
                    <div class="headerSlid">
                        <img src="https://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11000723.jpg">
                    </div> -->
                </div>
                <div class="divDot">
                    <!-- <span class="dot" onclick="currentSlide(0)"></span>
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span> -->
                </div>
                <button id='prev' class="btnImgLeft" onclick="plusSlides(-1)"><img src="../static/src/btn_leftArrow.png"></button>
                <button id='next' class="btnImgRight" onclick="plusSlides(1)"><img src="../static/src/btn_rightArrow.png"></button>
            
            </div>
            <div class="headerTextAll">
                <!-- <h1>景點名稱</h1>
                <div class="headerSubTitle">
                    <p>景點類別</p>
                    <p>at</p>
                    <p>捷運站</p>
                </div> -->
                <div class="headerOrder">
                    <h2>訂單導覽行程</h2>
                    <p>以此景點為中心的一日行程，帶您探索城市角落故事</p>
                    <div class="headerOrderDate">
                        <h3>選擇日期：</h3>
                        <input type="date">
                    </div>
                    <div class="headerOrderTime">
                        <h3>選擇時間：</h3>
                        <input type="radio" name="rdoTime" id="timeAM" value="2000" checked>
                        <label for="timeAM">上半天</label>
                        <input type="radio" name="rdoTime" id="timePM" value="2500">
                        <label for="timePM">下半天</label>
                    </div>
                    <div class="headerOrderPrice">
                        <h3>導覽費用：</h3>
                        <p>新台幣 <span class="price">- - -</span> 元</p>
                    </div>
                    <button class="btnOrder">開始預訂行程</button>
                </div>
            </div>
        </div>
    </div>

    <div class="middle">
        <div class="middleBG">
            <!-- <p>平安鐘祈求大家的平安，這是為了紀念921地震週年的設計，在喧鬧的廣場上每個小時鳴鐘，保佑平安，祈禱臺灣不會再發生這樣的天災。雙手合十加上108個黃色的琉璃乳丁，隨著緩緩流下的水，在底下的一個小噴泉噴出。雙手合十的意義，一個是祈福，一個是包容，教我們要包容這樣的改變，撫平這樣的傷口。下面的水緩緩流出，代表著人的生命力是不斷地延續下去。緩緩地鐘聲，卻帶來心中的寧靜。 這個平安鐘是由建築師姚仁喜與琉璃創作家王俠軍共同設計，長6公尺、寬5公尺，以鑄銅製成，由法鼓山文教基金會全額出資。平安鐘點綴都市景觀，不時提醒大家，面對刻骨銘心的災難痛苦，更應該有謙卑的一顆心。</p>
            <div class="middleAddress">
                <h3>景點地址：</h3>            
                <p>臺北市 大安區忠孝東路4段</p>
            </div>
            <div class="middleTransport">
                <h3>交通方式：</h3>
                <p>捷運站名：忠孝復興站4號出口1.公車：204、212、212直、232、232副、262、262(區間)、278、299、521、605、605(副)、605(新台五線)、667、903、忠孝新幹線至頂好市場站 2.車位：太平洋崇光百貨地下停車場或市民大道附近地下停車場</p>
            </div> -->
        </div>
    </div>



    <div class="footer">
        <div class="footerContent">
            <p> COPYRIGHT©2021台北一日遊 </p>
        </div>
    </div>
</body>
<script src="../static/component/nav.js"></script>
<script src="../static/js/attraction.js"></script>

</html>