<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" href="../static/css/cssReset.css">
    <link rel="stylesheet" href="../static/component/nav.css">
    <link rel="stylesheet" href="../static/css/booking.css">
</head>

<body>
    <div class="top">
        <!-- <div class="topContent">
            <div class="topTitle">
                <p><a href="/">台北一日遊</a></p>
            </div>
            <div class="topMenu">
                <ul class="menu">
                    <li><a href="#">預定行程</a></li>
                    <li><a href="#">登入/註冊</a></li>
                </ul>
            </div>
        </div> -->
    </div>
    <div class="header">
        <div class="headerBG">
            <div class="headerMain">
                <!-- <h2>您好，AAAAAA，待預定行程如下：</h2>
                <p class="nothing">目前沒有任何待預定的行程</p> -->
                <!-- <div class="headerContent">
                    <div class="headerContentMain">
                        <img class="imgheaderContentMain"
                            src="https://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11000848.jpg" alt="">
                    </div>
                    <div class="headerInfo">
                        <h1>台北一日遊：景點名稱</h1>
                        <div class="headerInfoData">
                            <h3>日期：</h3>
                            <p>2021-04-23</p>
                        </div>
                        <div class="headerInfoData">
                            <h3>時間：</h3>
                            <p>2021-04-23</p>
                        </div>
                        <div class="headerInfoData">
                            <h3>費用：</h3>
                            <p>新台幣6666元</p>
                        </div>
                        <div class="headerInfoData">
                            <h3>地點：</h3>
                            <p>臺北市 某個位置</p>
                        </div>
                    </div>
                </div> -->
            </div>
            <!-- <div class="headerDelete">
                <button class="btnDelete">
                    <img class="imgDelete" src="../static/src/icon_delete.png">
                </button>
            </div> -->
        </div>
    </div>

    <div class="middle middleA">
        <!-- <div class="middleBG">
            <h2>您的聯絡資訊</h2>
            <div class="middleInfoData">
                <h3>聯絡姓名：</h3>
                <input>
            </div>
            <div class="middleInfoData">
                <h3>聯絡信箱：</h3>
                <input>
            </div>
            <div class="middleInfoData">
                <h3>手機號碼：</h3>
                <input>
            </div>
            <p>請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確聯絡方式</p>
        </div> -->
    </div>

    <div class="middle middleB">
        <!-- <div class="middleBG">
            <h2>信用卡付款資訊</h2>
            <div class="middleInfoData">
                <h3>卡片號碼：</h3>
                <input placeholder="**** **** **** ****">
            </div>
            <div class="middleInfoData">
                <h3>過期時間：</h3>
                <input placeholder="MM/YY">
            </div>
            <div class="middleInfoData">
                <h3>驗證密碼：</h3>
                <input placeholder="CVV">
            </div>
        </div> -->
    </div>

    <div class="confirm">
        <!-- <div class="confirmBG">
            <p>總價：新台幣<span>0000</span>元</p>
            <button>確認訂購並付款</button>
        </div> -->
    </div>

    <div class="footer">
        <div class="footerContent">
            <p> COPYRIGHT©2021台北一日遊 </p>
        </div>
    </div>
</body>

<script src="../static/component/nav.js"></script>
<script src="../static/js/booking.js"></script>

</html>